## Configuration file for gRPC monitoring in Datadog

init_config:

instances:
  - ## @param prometheus_url - string - required
    ## The URL where gRPC metrics are exposed.
    #
    prometheus_url: http://grpc-server:50051/metrics


