## Configuration file for gRPC monitoring in Datadog

init_config:

instances:
  - ## @param prometheus_url - string - required
    ## The URL where gRPC metrics are exposed.
    #
    prometheus_url: http://grpc-server:50051/metrics

  - ## Optional: Add tags to identify your services
    tags:
      - env:production
      - service:route-guide
      - version:1.0.0

