collection_interval: 15s
auth_type: "serviceAccount"
endpoint: "${env:K8S_NODE_NAME}:10250"
node: "${env:K8S_NODE_NAME}"
insecure_skip_verify: true
metric_groups:
  - node
  - pod
  - container
  - volume
