{{- set . "K8s" true }}
{{- set . "Container" true }}
{{- if .Preamble -}}
# Recommended values.yaml for the OpenTelemetry Collector Helm Chart
{{include "setup" .}}
# Required secrets: datadog-secrets::api-key
# Remember to modify DD_SITE if not using datadoghq.com
{{- set . "Preamble" false}}
{{- end}}

extraEnvs:
  - name: DD_SITE
    value: datadoghq.com # Update if necessary
  - name: DD_API_KEY
    valueFrom:
      secretKeyRef:
        name: datadog-secrets
        key: api-key

mode: daemonset
image:
  repository: otel/opentelemetry-collector-contrib
  tag: {{.OtelcolVersion}}
command:
  name: "otelcol-contrib"
  extraArgs: ["--feature-gates", "+connector.spanmetrics.includeCollectorInstanceID"]

# Service account for the k8sattributes processor
serviceAccount:
  create: true
clusterRole:
  create: true
  rules:
    - apiGroups: [""]
      resources: ["pods", "namespaces"]
      verbs: ["get", "watch", "list"]
    - apiGroups: ["apps"]
      resources: ["replicasets"]
      verbs: ["get", "list", "watch"]
    - apiGroups: ["extensions"]
      resources: ["replicasets"]
      verbs: ["get", "list", "watch"]

# Volume mount for the host metrics receiver
extraVolumes:
  - name: hostfs
    hostPath:
      path: /
extraVolumeMounts:
  - name: hostfs
    mountPath: /hostfs
    readOnly: true
    mountPropagation: HostToContainer

alternateConfig:
  {{ include "otelcol-agent" . | indent 2 }}
