{{- if .Preamble -}}
{{- if .Testing -}}
# FOR INTERNAL TESTING PURPOSES ONLY
{{end -}}
# Recommended OpenTelemetry Collector configuration
{{include "setup" .}}
# Collector Contrib version: v{{.OtelcolVersion}}
# Required Collector flags: --feature-gates connector.spanmetrics.includeCollectorInstanceID
# Required environment variables:
# - DD_SITE: Datadog site for your region, e.g. datadog.com
# - DD_API_KEY: A Datadog API key
{{- if and .Container (eq .CloudEnvironment "")}}
# - OTEL_RESOURCE_ATTRIBUTES: Host information (no host detection possible in this setup)
{{- end}}
{{- if .Container}}
# Required mounts: /hostfs
{{- end}}
{{- end}}

receivers:
  otlp:
    {{include "otlp-receiver" . | indent 4}}
  hostmetrics:
    {{include "host-metrics-receiver" . | indent 4}}

processors:
  # Enrich telemetry with host metadata
  resourcedetection:
    {{include "resource-detection-processor" . | indent 4}}
  {{- if .K8s}}
  k8s_attributes:
    {{include "k8s-attributes-processor" . | indent 4}}
  {{- end}}

  # Transform metrics to fit Datadog platform constraints
  cumulativetodelta: {}
  {{- if .MapEquivalentMetrics}}

  # Runtime metric mapping adapted from https://docs.datadoghq.com/opentelemetry/integrations/runtime_metrics
  deltatocumulative: {}
  transform/cumul_sum_to_gauge:
    error_mode: ignore
    metric_statements:
      - context: metric
        statements:
          - convert_sum_to_gauge()
  transform/delta_sum_to_gauge:
    error_mode: ignore
    metric_statements:
      - context: metric
        statements:
          - convert_sum_to_gauge() where metric.name == "system.network.io"
  deltatorate/runtime_metrics:
    metrics:
      # JVM runtime metrics
      - jvm.gc.collections.count
      - jvm.gc.collections.elapsed
      # .NET runtime metrics
      - dotnet.process.cpu.time
      - process.cpu.time
  {{- end}}

connectors:
  {{- if .DatadogExporter}}
  datadog/connector: {}
  {{- else}}
  spanmetrics:
    {{include "span-metrics-connector" . | indent 4}}
  forward/traces_sample: {}
  {{- end}}

  {{- if .MapEquivalentMetrics}}
  # Runtime metric mapping adapted from https://docs.datadoghq.com/opentelemetry/integrations/runtime_metrics
  routing/metrics:
    default_pipelines: [metrics/default]
    table:
      - context: metric
        condition: ContainsValue([
            "process.runtime.go.gc.pause_total_ns",
            "process.runtime.go.gc.count",
            "go.memory.allocated",
            "go.memory.allocations"
          ], metric.name)
        pipelines: [metrics/cumul_sum_to_gauge]
  forward/metrics_default: {}
  {{- end}}

exporters:
  debug:
    verbosity: detailed
  {{- if .DatadogExporter}}
  datadog:
    {{include "datadog-exporter" . | indent 4}}
  {{- else}}
  otlp_http:
    {{include "otlp-http-exporter" . | indent 4}}
  {{- end}}

extensions:
  {{- if .K8s}}
  health_check:
    {{include "health-check-extension" . | indent 4}}
  {{- end}}
  datadog:
    {{include "datadog-extension" . | indent 4}}

service:
  extensions:
    {{- if .K8s}}
    - health_check # May be necessary for liveness/readiness probe
    {{- end}}
    - datadog
  
  pipelines:
    logs:
      receivers: [otlp]
      processors:
        {{- if .K8s}}
        - k8s_attributes
        {{- end}}
        - resourcedetection
      {{- if .DatadogExporter}}
      exporters: [datadog]
      {{- else}}
      exporters: [otlp_http]
      {{- end}}
    
    metrics:
      receivers: [otlp, hostmetrics]
      processors:
        {{- if .K8s}}
        - k8s_attributes
        {{- end}}
        - resourcedetection
    {{- if .MapEquivalentMetrics}}
      exporters: [routing/metrics]
    
    metrics/cumul_sum_to_gauge:
      receivers: [routing/metrics]
      processors:
        - deltatocumulative
        - transform/cumul_sum_to_gauge
      exporters: [forward/metrics_default]
    
    metrics/default:
      receivers: [routing/metrics, forward/metrics_default]
      processors:
    {{- end}}
        - cumulativetodelta
    {{- if .MapEquivalentMetrics}}
        - transform/delta_sum_to_gauge
        - deltatorate/runtime_metrics
    {{- end}}
      {{- if .DatadogExporter}}
      exporters: [datadog]
      {{- else}}
      exporters: [otlp_http]
      {{- end}}
    
    traces:
      receivers: [otlp]
      processors:
        {{- if .K8s}}
        - k8s_attributes
        {{- end}}
        - resourcedetection
      {{- if .DatadogExporter}}
      exporters: [datadog/connector]
      {{- else}}
      exporters: [forward/traces_sample, spanmetrics]
      {{- end}}
    
    {{if .DatadogExporter -}}
    traces/sample:
      receivers: [datadog/connector]
      # Perform any sampling here
      exporters: [datadog]
    
    metrics/spanmetrics:
      receivers: [datadog/connector]
      exporters: [datadog]
    {{else -}}
    traces/sample:
      receivers: [forward/traces_sample]
      # Perform any sampling here
      exporters: [otlp_http]
    
    metrics/spanmetrics:
      receivers: [spanmetrics]
      exporters: [otlp_http]
    {{- end}}
  
  telemetry:
    {{include "self-telemetry" . | indent 4}}
