{{- if .Preamble -}}
{{- if .Testing -}}
# FOR INTERNAL TESTING PURPOSES ONLY
{{end -}}
# Recommended OpenTelemetry Collector configuration (Deployment mode)
# Paired with {{- if .Testing}} otel-demo-datadog{{- else}} daemonset{{- end}}{{- if ne .CloudEnvironment ""}}-{{.CloudEnvironment}}{{- end}}.yaml to collect cluster level resources to support K8s Explorer
{{include "setup" .}}
# Collector Contrib version: v{{.OtelcolVersion}}
# Required environment variables:
# - DD_SITE: Datadog site for your region, e.g. datadog.com
# - DD_API_KEY: A Datadog API key
{{- if eq .CloudEnvironment ""}}
# Remember to update k8s.cluster.name in resource/add-cluster-name processor with your actual cluster name
{{- end}}
{{- end}}

receivers:
  k8s_cluster:
    {{include "k8s-cluster-receiver" . | indent 4}}
  {{- if .KSM}}
  # Prometheus receiver is used to scrape kube state metrics
  prometheus:
    {{include "prometheus-receiver" . | indent 4}}
  {{- end}}
  # k8sobjects receiver for orchestrator check
  k8sobjects:
    {{include "k8sobjects-receiver" . | indent 4}}

processors:
  {{- if .KSM}}
  cumulativetodelta: {}
  # Rename KSM metric prometheus label uid -> k8s.pod.uid to adhere to OTel standard and
  # facilitate the groupby specified below.
  transform/rename_uid:
    {{include "transform-rename-uid-processor" . | indent 4}}
  # Grouping by k8s.pod.uid (a globally unique ID) correctly associates the
  # kube-state-metrics pod metrics with their respective OTel resources.
  groupbyattrs:
    {{include "groupbyattrs-processor" . | indent 4}}
  # Modify kube-state-metric Datapoint attributes so that they adhere to Datadog's
  # expected schema.
  transform/ksm_to_dd:
    {{include "transform-ksm-to-dd-processor" . | indent 4}}
  # k8sattributesprocessor is used to enrich metrics with additional metadata
  k8s_attributes:
    {{include "k8s-attributes-processor" . | indent 4}}
  transform/sum_to_gauge:
    {{include "transform-sum-to-gauge-processor" . | indent 4}}
  # Drop metric after count connector has used it
  filter/ksm:
    {{include "filter-ksm-processor" . | indent 4}}
  {{- end}}
  {{- if eq .CloudEnvironment ""}}
  # In non-cloud environments, k8s.cluster.name must be set manually.
  # Replace "my-cluster-name" with your actual cluster name.
  resource/add-cluster-name:
    attributes:
      - key: k8s.cluster.name
        value: "my-cluster-name"
        action: upsert
  {{- end}}
  resourcedetection:
    {{include "resource-detection-processor" . | indent 4}}

{{- if .KSM}}
connectors:
  # The count connector generates custom metrics by counting the number
  # of metric series.
  count:
    {{include "count-connector" . | indent 4}}
{{- end}}

exporters:
  debug:
    verbosity: detailed
  datadog:
    {{include "datadog-exporter" . | indent 4}}
  otlp_http:
    {{include "otlp-http-exporter" . | indent 4}}

extensions:
  health_check:
    {{include "health-check-extension" . | indent 4}}

service:
  extensions:
    - health_check

  pipelines:
    logs/orchestrator:
      receivers: [k8sobjects]
      processors: [{{- if eq .CloudEnvironment ""}}resource/add-cluster-name, {{end}}resourcedetection]
      exporters: [datadog]

    metrics/cluster:
      receivers: [k8s_cluster]
      processors: [{{- if eq .CloudEnvironment ""}}resource/add-cluster-name, {{end}}resourcedetection]
      exporters: [otlp_http]

    {{- if .KSM}}
    metrics/count:
      receivers: [prometheus]
      exporters: [count]

    metrics/ksm:
      receivers: [prometheus, count]
      processors:
        - filter/ksm
        {{- if eq .CloudEnvironment ""}}
        - resource/add-cluster-name
        {{- end}}
        - resourcedetection
        - transform/ksm_to_dd
        - transform/rename_uid
        - groupbyattrs
        - k8s_attributes
        - cumulativetodelta
        - transform/sum_to_gauge
      exporters: [otlp_http]
    {{- end}}
