datapoints:
  k8s.service.count:
    # k8s.service.count is grouped by namespace and type
    # so we have to grab those attributes from the original metric.
    attributes:
      - key: namespace
        default_value: unspecified_namespace
      - key: type
        default_value: unspecified_service_type
    conditions:
      - metric.name == "kube_service_spec_type"

  k8s.deployment.count:
    conditions:
      - metric.name == "kube_deployment_created"

  k8s.namespace.count:
    conditions:
      - metric.name == "kube_namespace_created"

  k8s.node.count:
    conditions:
      - metric.name == "kube_node_info"

  k8s.pod.count:
    conditions:
      - metric.name == "kube_pod_created"

  k8s.job.count:
    conditions:
      - metric.name == "kube_job_owner"
