{{if .Preamble }}
# Requires setting up ServiceAccount, (Cluster)Role, and (Cluster)RoleBinding resources
# See https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/k8sattributesprocessor#role-based-access-control
{{- end}}
extract:
  otel_annotations: true
  metadata:
    - k8s.node.name
    - k8s.namespace.name
    - service.namespace
    - service.name
    - service.version
    - service.instance.id
    - k8s.deployment.name
    - k8s.replicaset.name
    - k8s.daemonset.name
    - k8s.statefulset.name
    - k8s.cronjob.name
    - k8s.job.name
    - k8s.pod.uid
    - k8s.pod.name
    - container.id
    - k8s.container.name
    - container.image.name
    - container.image.tag
{{- if .KSM}}
# By default association is done via Pod IP, we need to override
# this so it doesn't erroneously associate metrics with the
# kube-state-metrics pod.
{{- end}}
pod_association:
  - sources:
      - from: resource_attribute
        name: k8s.pod.uid
{{- if not .KSM}}
  - sources:
      - from: resource_attribute
        name: k8s.pod.ip
  - sources:
      - from: resource_attribute
        name: k8s.pod.name
      - from: resource_attribute
        name: k8s.namespace.name
  - sources:
      - from: connection
{{- end}}
