{{if not .EnvSuffix}}{{set . "EnvSuffix" ""}}{{end}}
endpoint: https://otlp.${env:DD_SITE{{.EnvSuffix}}}
headers:
  dd-api-key: ${env:DD_API_KEY{{.EnvSuffix}}}
  # Send resource attributes and scope metadata as metric tags
  dd-otel-metric-config: >-
    {
    "resource_attributes_as_tags": true,
    "instrumentation_scope_metadata_as_tags": true
    }
compression: zstd
compression_params:
  level: 3 # Level must be set explicitly for zstd
sending_queue:
  batch:
    sizer: bytes
    min_size: 2097152 # Accumulate at least 2MiB before flushing (2 * 1024 * 1024)
    max_size: 4194304 # Flush batches at 4MiB (4 * 1024 * 1024)
