Flask==3.0.2
grpcio==1.62.1
opentelemetry-api==1.23.0
opentelemetry-distro==0.44b0
opentelemetry-exporter-otlp==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-flask==0.44b0
opentelemetry-instrumentation-logging==0.44b0
opentelemetry-sdk==1.23.0
requests==2.31.0
setuptools==70.0.0
urllib3==2.2.1
Werkzeug==3.0.1

