Flask==3.0.3
grpcio==1.62.3
opentelemetry-api==1.40.0
opentelemetry-distro==0.44b0
opentelemetry-exporter-otlp==1.40.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-flask==0.44b0
opentelemetry-instrumentation-logging==0.44b0
opentelemetry-sdk==1.23.0
requests==2.33.1
setuptools==80.10.2
urllib3==2.6.3
Werkzeug==3.0.6

