# Route Collector internal metrics through its own pipelines for enrichment purposes
metrics:
  readers:
    - periodic:
        exporter:
          otlp:
            protocol: http/protobuf
            endpoint: http://localhost:4318
