{{- $deployment := "" }}
{{- if .Deployment }}
{{- $deployment = "Kubernetes per-cluster Deployment (k8s_objects)" }}
{{- else if .K8s }}
{{- $deployment = "Kubernetes Daemonset" }}
{{- else if .Container }}
{{- $deployment = "Containerized Agent" }}
{{- else }}
{{- $deployment = "Uncontainerized Agent" }}
{{- end -}}

{{- $environment := "" }}
{{- if eq .CloudEnvironment "ec2" -}}
{{- $environment = "an EC2" }}
{{- else if eq .CloudEnvironment "eks" -}}
{{- $environment = "an EKS" }}
{{- else if eq .CloudEnvironment "gce" -}}
{{- $environment = "a GCE" }}
{{- else if eq .CloudEnvironment "gke" -}}
{{- $environment = "a GKE" }}
{{- else if eq .CloudEnvironment "gke-autopilot" -}}
{{- $environment = "a GKE Autopilot" }}
{{- set . "NoHostMetrics" true}} {{- /* Autopilot mode doesn't allow mounting /hostfs */}}
{{- set . "NoHostPorts" true}} {{- /* Autopilot mode doesn't allow hostPorts */}}
{{- else if eq .CloudEnvironment "azure" -}}
{{- $environment = "an Azure VM" }}
{{- else if eq .CloudEnvironment "aks" -}}
{{- $environment = "an AKS" }}
{{- else if eq .CloudEnvironment "aks-automatic" -}}
{{- $environment = "an AKS Automatic" }}
{{- set . "NoHostMetrics" true}} {{- /* Automatic mode doesn't allow mounting /hostfs */}}
{{- set . "NoHostPorts" true}} {{- /* Automatic mode doesn't allow hostPorts */}}
{{- else if eq .CloudEnvironment "" -}}
{{- $environment = "a non-cloud" }}
{{- else -}}
{{- errorf "unknown cloud environment %q" .CloudEnvironment}}
{{- end -}}

# Setup: {{$deployment}} in {{$environment}} environment
