datadog:
 apiKeyExistingSecret: datadog-secret
 appKeyExistingSecret: datadog-secret
 site: datadoghq.com
 env:
  # DD_LOG_LEVEL and DD_OTLP_CONFIG_DEBUG_VERBOSITY
  # are only needed for troubleshooting purposes
  - name: DD_LOG_LEVEL
    value: "INFO"
  - name: DD_OTLP_CONFIG_DEBUG_VERBOSITY
    value: "normal"
 otlp:
  receiver:
   protocols:
    http:
     enabled: true
    grpc:
     enabled: true

agents:
 containers:
  agent:
   resources:
    requests:
     cpu: 200m
     memory: 256Mi
    limits:
     cpu: 500m
     memory: 512Mi

clusterAgent:
 resources:
  requests:
   cpu: 200m
   memory: 256Mi
  limits:
   cpu: 500m
   memory: 512Mi